@import "variables/variables";

.form-group {
  display: flex;
  margin-bottom: 20px;

  label {
    flex-grow: 1;
    align-self: center;
  }

  input {
    padding: 16px 20px;
    border: 0.063rem solid $bbt;
    width: calc(100% - 190px);
  }
}

.row-direct {
  flex-direction: row !important;
}

.reset-pwd {
  display: flex;
  justify-content: flex-end;
  font-size: 0.7rem;
  margin-bottom: 20px;

  a {
    color: $main_components_color;
  }
}

.login {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 100%;

  & > div {
    width: 100%;
    height: 100%;
  }

  h2 {
    text-align: center;
    margin-bottom: 40px;
  }

  .form {
    height: 100%;
    min-width: 50%;
    display: flex;
    flex-direction: column;
    padding: 0 2.8rem;
    justify-content: center;

    button {
      align-self: flex-end;

    }
  }


  .form-group {


  }


}


.form {
  button {

    padding: 9px 13px;
    font-size: 0.7rem;
    border: 0.063rem solid $bbt;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: $main_text;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 0.3rem;

    &:disabled {
      cursor: not-allowed;
      background: red;
    }
  }
}

.form {
  .form-valid {
    border: 1px solid green;
  }

  .form-invalid {
    border: 1px solid red;
  }
}