.loader{
  background: rgba(245, 239, 255, 0.1);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loader_wrap{
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
  border-radius: 8px;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 0 4px #000;
}
.loader svg {
  position: absolute;
  bottom: 0;
  animation: shift 1s linear infinite;
}

@keyframes shift {
  100% {
    transform: translateX(-50%);
  }
}