@import "./variables/variables";


.masonry { /* Masonry container */
  transition: all .5s ease-in-out;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24%, 1fr));
  grid-gap: 15px;
  grid-auto-rows: minmax(180px, auto);
  margin: 0 1rem;
  //grid-auto-flow: dense;
  //padding: 10px;
}

.column_item { /* Masonry bricks or child elements */
  display: inline-block;
  box-shadow: 2px 2px 7px 1px #bbbbbb;
  border-radius: 0.4rem;
  margin-bottom: 10px;
  //margin: 0 0 1em;
  //width: 100%;
}

.column_item {
  & > * {
    padding: 10px 15px;
  }

  figure {
    margin: 0 0 25px 0;
    padding: 0;
    height: 150px;
    background: $bbt;
    border-radius: 0.4rem 0.4rem 0 0;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }
  h5{
    font-weight: 400;
    margin-bottom: 15px;
  }
  button{
    border: 0.063rem solid $main_text;
    border-radius: 0.4rem;
    padding: 10px 15px;
    a{
      text-decoration: none;
      color: $main_text;
    }
  }

  .column_item_bottom{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }
}

.skeleton {
  height: max-content !important;
  margin-top: 0 !important;

  .square.image {
    padding: 0 !important;
    height: 100px !important;


  }
}


//
//
//@media screen and (max-width: 1024px) {
//  .masonry {
//    column-count: 2;
//  }
//}
//@media screen and (max-width: 768px) {
//  .masonry {
//    column-count: 1;
//  }
//}