@import "variables/variables";

.navItem {
  display: flex;
  align-content: center;
  align-items: center;
  margin-bottom: 10px;

  span {
    font-weight: 300;
    color: $arrow;
  }
  &.active {
    .icon, span {
      font-weight: 600;
      color: $main_text;
    }
  }
}

.icon {
  color: $arrow;
  margin-right: 13px;
}

