@import "./variables/variables";


.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: $main_text;
  color: $white;
  padding: 0 22px;
  height: 56px;
  margin-bottom: 40px;

  & > * {
    font-weight: 300;
  }
}

.filters, .tiitle, .filters_wrap {
  display: flex;
  align-self: center;
  flex-grow: 5;
}

.filters_wrap {
  margin-right: 20px;
  flex-grow: 1;
}

.filters {
  flex-grow: 0;
}

.tiitle {
  flex-grow: 1;
}

.new {
  padding: 9px 13px;
  font-size: 0.7rem;
  border: 0.063rem solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: white;
  border-radius: 0.3rem;

  &:before {
    content: "+";
    margin-right: 10px;
    margin-bottom: 0;
    font-size: 1.3rem;
    height: 14px;
    display: flex;
    align-items: center;
  }
}
.back{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 13px;
  margin-right: 10px;
  span{
    width: 13px;
    height: 2px;
    background: white;
    display: block;
    position: absolute;
    border-radius: 20px;

    &:first-child{
      transform: rotate(45deg);
      top: 32px;
    }
    &:last-child{
      top: 24px;
      transform: rotate(-45deg);
    }
  }
}