@import "./variables/variables";


.sidebar {
  header {
    display: flex;
    width: 100%;
    padding: 20px 0;
    justify-content: space-evenly;
    margin-bottom: 40px;
    background: $main_components_color;
    color: $white;
  }

  .navItems {

    text-align: left;
    border-width: 0.063rem;
    border-style: solid;
    border-image: linear-gradient(to right, $main_components_color, rgba(0, 0, 0, 0)) 10% 0% 0;

    &:last-child {
      border-image: linear-gradient(to right, $main_components_color, rgba(0, 0, 0, 0)) 10% 0% 1;
    }

    a {
      display: block;
      padding: 23px 30px;
      color: $main_text;
      text-decoration: none;
    }
  }
  .active{
    background-image: linear-gradient(left, $main_components_color -200%, rgba(0, 0, 0, 0) 100%) ;

    a{

      font-weight: 600;
    }
  }
}