$color-base: #ccc;
$color-highlight: lighten($color-base, 7%);

.skeleton {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 2px 2px 7px 1px #bbbbbb;
  border-radius: 0.4rem;
  padding-bottom: 20px;

  & > * {
    position: relative;
    overflow: hidden;
    background: $color-base;
    border-radius: 0.063rem;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, $color-base, $color-highlight, $color-base);
      animation: progress 1s ease-in-out infinite;
    }
  }

  .skeleton_img {
    height: 150px;
    margin-bottom: 30px;

  }

  .skeleton_title {
    margin: 7px 1rem;
    height: 15px;
  }

  .skeleton_text {
    margin: 4px 1rem;
    max-width: 60%;
    height: 4px;

    &:first-child {
      margin-top: 10px;
    }
  }

  .skeleton_button {
    height: 35px;
    margin: 22px 0 0 58%;
    width: 100px;
    border-radius: 0.4rem;
  }


}

@keyframes progress {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}