@import "./variables/variables";

.general_statistic, .my_statistics_wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 250px;
  height: 250px;
  border-radius: .4rem;
  align-content: space-between;
  margin-bottom: 40px;

  h5, h6, strong {
    color: #010000;
  }

  h6 {
    font-size: 0.7rem;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  span {
    color: #fff;
  }

  padding: 1.8rem 1.3rem;

}

.my_statistics_wrapper {
  background: $secondary_components_color;
}

.general_statistic {
  background: $main_components_color;
}

.statistic_text {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 1rem;
  max-width: calc(60% - 1rem);
  flex: 0 0 60%;
  align-content: space-between;

  & > * {
    width: 100%;
  }
}

.statistic_circle {
  max-width: calc(40% - 1rem);
  flex: 0 0 40%;
}

.statistic_header {
  display: flex;
  justify-content: space-between;
  max-width: 70%;


  span {
    font-size: 2rem;
  }
}

.statistic_body {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  max-width: 70%;

  & > * {
    margin-right: 1.5rem;
    max-width: calc(33% - 1.5rem);
    flex: 0 0 33%;
    margin-bottom: 1rem;
  }

  h6 {
    margin-bottom: 5px;
    text-transform: uppercase;
  }

}

.single-chart {
  width: 63%;
  margin: 0 auto;

  .circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 170px;


    .circle-bg {
      fill: none;
      stroke: $secondary_components_color;
      stroke-width: 0.05rem;

    }

    .circle {
      fill: none;
      stroke: $white;
      stroke-width: 0.07rem;
      stroke-linecap: round;
      animation: progress 1s ease-out forwards;
    }
  }

  .percentage, .percentage_item {
    fill: $white;
    font-family: sans-serif;
    text-anchor: middle;
  }

  .percentage {
    font-size: 0.5em;
  }

  .percentage_item {
    font-size: 0.35rem;
    font-weight: 300;
  }

}


//
.w_50 {
  max-width: 50%;
  flex: 0 0 50%;
}

.my_statistics {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;

  h6 {
    display: inline-block;
    width: 100%;
    color: $white;
  }

  .my_statistics_inner {
    display: flex;
    flex-wrap: wrap;

    span {
      font-size: 1.5rem;
    }

    .my_statistics_item {

      .my_statistics_item_symbol {
        font-size: 1rem;
        color: $secondary_text_color;
        margin-left: 5px;
        font-size: 0.625rem;
      }
    }
  }

  .progress_bar {
    position: relative;
    display: inline-block;
    background: $main_text;
    width: 100%;
    height: 5px;

    span {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
    }

  }
}

.count_online {
  display: flex;
  justify-content: space-evenly;

  span {
    display: block;
    color: $main_text;
  }

  .online_item {
    position: relative;
    color: inherit;
    margin-bottom: 6px;

    &::before {
      content: "\2022";
      font-size: 1.6rem;
      position: absolute;
      color: inherit;
      top: 0;
      left: -5px;
      transform: translate(-100%, -20%);
    }
  }

  .online {
    color: $white;
  }

  .offline {
    color: $main_text;
  }
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 200;
  }
}
