@import "variables/variables";

%extend_1 {
  position: relative;
  display: grid;
  //grid-template-columns: 0.2fr 1fr 1fr 1fr 0.5fr 0.5fr 0.5fr;
  width: 100%;
}

.border_bottom {
  border-bottom: 0.063rem solid $bbt;
}

.user-list {
  margin-top: 100px;
}

.table-row {
  width: 100%;

}

.table-row-title {
  display: none;
}

.table-row-body {
  @extend %extend_1;

  figure {
    height: 50px;
    padding: 15px 0;
    width: 90%;
  }

  div {
    display: flex;
    align-items: center;
  }
  &.team{
    figure {
      display: flex;
      align-items: center;
      align-self: center;
      align-content: center;
      justify-content: center;
       img {
         border: 1px solid black;
         border-radius: 50%;
      }
    }
    .department{

      p{
        display: inline-block;
        width: 200px;
        min-width: fit-content;
        background: $departmentMain;
        text-align: center;
        padding: 3px 10px;
        border-radius: 0.7rem;
      }
    }
  }
  &.profile{
    figure {

      img {
        display: block;
        object-fit: cover;
        width: 100%;
      }
    }
  }
}

.table-row-header {
  @extend %extend_1;
  padding: 10px 0;

  p {
    font-size: 0.7rem;
  }
}