@import "./variables/variables";


%extend_1 {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 2px;
  background: $white;
  //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
  transform: translate(-50%, -50%);
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 10px;
}


.searchInner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: none;
  input {
    height: 100%;
    flex-grow: 12;
    padding: 0 0 0 40px;
    background: $main_text;
    color: $white;
    font-size: 1rem;
    font-weight: 300;
  }
  .close {
    cursor: pointer;
    position: relative;
    background: $main_components_color;
    width: 56px;
    &:before {
      @extend %extend_1;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
  .close::after {
    @extend %extend_1;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate(-50%, -50%) rotate(45deg);
  }
}
.search {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-right: 10px;
  &.open {
    .searchInner {
      position: absolute;
      display: flex;
      width: 100%;
    }
    svg {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 10px;
      //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
      transform: translateY(-50%);
    }
  }
}