@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-Regular.woff2') format('woff2'),
  url('/fonts/Muli-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-ExtraBold.woff2') format('woff2'),
  url('/fonts/Muli-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-SemiBold.woff2') format('woff2'),
  url('/fonts/Muli-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-Light.woff2') format('woff2'),
  url('/fonts/Muli-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: url('/fonts/Muli-Bold.woff2') format('woff2'),
  url('/fonts/Muli-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

