@import "variables";

.box {
  padding: 25px;
}

.page_block_title {
  margin-bottom: 20px;
}

.endof {
  margin: 20px 0;
  text-align: center;
  color: $main_components_color;
}

.segment {
  margin-bottom: 40px;
  box-shadow: 1px -1px 5px 2px $arrow;
  padding: 2rem 1.5rem;
  border-radius: 7px;

  h3 {
    margin-bottom: 1.5rem;
  }

  &.my_prof {

  }
}

.icon{
  display: flex;
  &>*{
    margin-right: 10px;
    color: $arrow;
  }
}


.switch_inp {
  display: none;
}

.switch_lbl {
  position: relative;
  display: inline-block;
  min-width: 112px;
  cursor: pointer;
  font-weight: 500;
  text-align: left;
  margin: 16px;
  padding: 16px 0 16px 44px;
}

.switch_lbl:before, .switch_lbl:after {
  content: "";
  position: absolute;
  margin: 0;
  outline: 0;
  top: 50%;
  transform: translate(0, -50%);
  transition: all 0.3s ease;
}

.switch_lbl:before {
  left: 1px;
  width: 34px;
  height: 14px;
  background-color: #9E9E9E;
  border-radius: 8px;
}

.switch_lbl:after {
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FAFAFA;
  border-radius: 50%;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084);
}


.switch_lbl.active:before {
  background-color: $main_components_color;
}

.switch_lbl.active:after {
  background-color: $bbt;
  transform: translate(80%, -50%);
}


