$main_text: rgb(0, 0, 0);
$main_text: #000000;
$main_components_color: #397fd2;
$secondary_components_color: #2c4279;
$unactive: #e0e0e0;
$arrow: #bdbdbd;
$feed: #f5f5f5;
$white: #f2f2f2;
$feed_icon: #757575;
$bbt: #ececec;
$secondary_text_color: #29b4ee;

$departmentMain: #ffe8c5;